<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 flexCenter"><img class="imgDiv" src="assets/Images/school.png.jpeg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 flexCenter pt-4 contentAlign">
      <div><span class="descriptionFont">SRI SHARADA PUBLIC SCHOOL</span></div>
      <div class="mainData">
        <p>
          <ul>
            <li class="fonFamliy">
              I have completed my schooling in sharada public school, 5 years of journey, lots of memories and happy
              moments filled in it ...!!!!</li>
            <li class="fonFamliy pt-1">
              Completed 10th Grade with 9.0 CGPA in the year 2016.
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
