<div class="container-fluid bg-color bg-image backgroundImg">
  <div class="classDiv">
    <div class="row p-2">
      <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 portfolioText d-flex flexCenter pt-2">
        <h1>Projects</h1>
      </div>
    </div>
    <div class="row flexCenter">
      <div class=" row flexDirectionCol">
        <div class="projectTitle">
          <button class="btn p-0 button1" matTooltip="Click on this to visit website"><a href="https://www.interviewia.com/"
              target="_blank"><img class="imgScss"
                src="assets/Images/WhatsApp Image 2022-10-12 at 3.22.07 PM.png"></a></button></div>
      </div>
      <div class="row classDiv flexDirection">

        <div class="column">
          <h3 class="mainDescription">Description</h3>
        </div>
        <div class="column">
          <p class="descriptionFont">
            InterviewIA application is committed to systematically building an Inclusive Future of Work in a world where
            organizations
            can be objective and inclusive. InterviewIA application is redefining the actual practice of interviewing by
            creating the first solution to
            bring human calibration, structure, and data-driven interview outcomes into one, fully integrated,
            easy-to-use cloud application using deep learning
            Intelligence Amplification (IA).
          </p>
        </div>
        <div class="column">
          <h2 class="roleDescription">Role Description</h2>
        </div>
        <div class="column">
          <p class="descriptionFont">
            As a <span class="roleBolded">FrontEnd Developer</span>, I was responsible to develop features as per the
            client requirements
            and make sure the code is efficient and well structured. I could accomplish major features in a given stipulated time,
            alter and create UI screens for betterment of user experience.</p>
          <ul class="descriptionFont">
            <li>
              <span class="roleBolded1">Major Highlight: </span>ATS Integrations,UI/UX Refresh.
            </li>
            <li class="pt-2">
              <span class="roleBolded1">Product: </span><button class="btn btnColor" (click)="openIIA()"
                matTooltip="InterviewIA Website">InterviewIA</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="dotted mb-0">
    <div class="row mb-2">
      <div class=" row flexDirectionCol">
        <div class="projectTitle"><button class="btn p-0 button1"
            matTooltip="Click on this to visit website"><a href="https://trustyx.in/" target="_blank"><img
                class="imgScss" src="assets/Images/WhatsApp Image 2022-10-12 at 3.21.46 PM.png"></a></button></div>
      </div>

      <div class="row classDiv flexDirection">
        <div class="column">
          <h3 class="mainDescription">Description</h3>
        </div>

        <div class="column">
          <p class="descriptionFont">
            The TrustyX NFT trading platform is an online marketplace catering to NFT creators, sellers, and buyers.
            While our platform lets you mint and list your NFTs on the primary marketplace, we make sure your data and
            nft is secured
            with the support of security rich solana blockchain.
          </p>
        </div>
        <div class="column">
          <h2 class="roleDescription">Role Description</h2>
        </div>
        <div class="column">
          <p class="descriptionFont">
            As a <span class="roleBolded">FrontEnd Developer</span>, I am responsible to develop application features and UI 
            requirements with minimum or zero bugs and make sure developed features are responsively taken care.</p>

          <ul class="descriptionFont">
            <li>
              <span class="roleBolded1">Major Highlight: </span>AI Image Generator tool Integrations.
            </li>
            <li class="pt-2">
              <span class="roleBolded1">Product: </span><button class="btn btnColor" (click)="openTrustyX()"
                matTooltip="TrustyX Website">TrustyX</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
