<div class="container-fluid bg-color backgroundImg bg-image vh-100">
  <div class="row p-2">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 portfolioText d-flex flexCenter pt-2">
      <h1 style="color: aliceblue;">Summary</h1>
    </div>
  </div>
  <div class="row epmtyDiv">
  </div>
  <div class="row p-2 size m-0 flexCenter">
    <div class="content m-auto pt-2">
      <span class="thankNote1">Thanks for your valuable time, it means a lot....</span>

      <p class="pt-2 thankNote2">One year as Full stack developer, helped me gain experience on real time projects as
        well as different challenges which
        increased my understanding on the tools and languages.</p>
      <p class="thankNote2">I would like to undergo similar, tougher challenges which determines my character and
        interest for my work.</p>
      <p class="thankNote2">I might solve the challenges or may not....but for sure efforts from my end would be
        100%...!!!</p>
    </div>
  </div>
  <div class="row p-2 size m-0 flexCenter">
    <div class="content m-auto pt-2 thankNote1 flexcont">
      ....Rohith Sridhar
    </div>
  </div>
  <div class="content m-auto pt-2 thankNote1 flexCenter1">
    <div class="content m-auto pt-2 flexCenter1">

      <video autoplay muted loop class="d-flex col-sm-12 col-md-12 col-lg-12 mb-2 videoDiv">
        <source src="../../../assets/Videos/Thank You - 52667.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
