.bg-color {
  background-color: #eaeaea;
}

.portfolioText {
  font-family: Zen Dots;
  font-weight: 700;
  font-size: 30px;
  text-shadow: 0px 0px 3px;
  box-shadow: 0px 0px 20px 2px aliceblue;
  border-radius: 15px;
  color: aliceblue;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: fill;
}

.subTopicsText {
  font-family: Zen Dots;
  font-weight: bold;
}

.mt-9 {
  margin-top: 20px;
}

.backgroundImg {
  background-image: url('../../../assets/Images/canyon-1740973_960_720\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.label {
  color: #eaeaea !important
}

::ng-deep .mat-stepper-label {
  color: #eaeaea;
}