<div class="container-fluid bg-color bg-image backgroundImg">
  <div class="row p-2">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 portfolioText d-flex flexCenter pt-2">
      <h1>Skills & Experience</h1>
    </div>
  </div>
  <div class="row flexCenter">
    <div class="col-lg-6 col-md-12 col-sm-12 flexCenter skillDirection pt-3">
      <h3 class="descriptionFont m-0">Skills</h3>
      <div class="pt-4">
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 subPortfolioText d-flex flexCenter">
            Technologies
          </div>
        </div>
        <ul class="pt-3">
          <li class="skillText">
            Javascript
          </li>
          <li class="skillText">
            Python
          </li>
          <li class="skillText">
            Java
          </li>
          <li class="skillText">
            TypeScript
          </li>
          <li class="skillText">
            HTML
          </li>
          <li class="skillText">
            CSS</li>
          <li class="skillText">
            SQL
          </li>
        </ul>
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 subPortfolioText d-flex flexCenter">
            Frameworks & Tools
          </div>
        </div>
        <ul class="pt-3">
          <li class="skillText"> Angular</li>
          <li class="skillText">BootStrap</li>
          <li class="skillText">NodeJS</li>
          <li class="skillText">Git</li>
          <li class="skillText">ExpressJS</li>
          <li class="skillText">KnexJS</li>
          <li class="skillText">Jmeter</li>
          <li class="skillText">Postman</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 flexCenter1 skillDirection pt-3 mb-auto">
      <h3 class="descriptionFont m-0">Experience</h3>
      <div class="pt-4">
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 subPortfolioText d-flex flexCenter">
            Ajapro AI Technologies
          </div>
        </div>
        <div class="container">
          <ul class="pt-3">
            <li class="pt-2 skillText1">For 1 year and 2 months, I contributed as <br>Quality Assurance Engineer for
              InterviewIA.</li>
            <li class="pt-2 skillText1">For 1 year, I contributed as full stack developer<br> for both projects
              InterviewIA & TrustyX.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row epmtyDiv">
  </div>
</div>
