<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 flexCenter"><img class="imgDiv" src="assets/Images/Engineering.jpeg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 flexCenter pt-4 contentAlign">
      <div><span class="descriptionFont">PES COLLEGE OF ENGINEERING</span></div>
      <div class="mainData">
        <p>
          <ul>
            <li class="fonFamliy">
              After 2018, I Joined PES for my professional course, because of covid it impacted the regular education
              process by which, I got time to upskill myself with CS technologies..</li>
            <li class="fonFamliy pt-1">
              Then, I got opportunity as a intern in a company,eventually turned into full-time employee for the same
              company.
            </li>
            <li class="fonFamliy pt-1">
              Graduated in year 2022 with 73.5 overall percentage in mechanical engineering..
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
