<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 flexCenter"><img class="imgDiv" src="assets/Images/PU.jpeg">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 flexCenter pt-4 contentAlign">
      <div><span class="descriptionFont">SARADA VILAS PU COLLEGE</span></div>
      <div class="mainData">
        <p>
          <ul>
            <li class="fonFamliy">
              From year 2016-2018, I pursued pre-university course through which I gained a unique and different
              experience wholly...!!</li>
            <li class="fonFamliy pt-1">
              Successfull completion of pre-university course with 84.3% in 2018.
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
