<div class="container-fluid bg-color pt-2 bg-image backgroundImg">
  <div class="flex-container pt-2 portfolioText">
    <h1>ROHITH'S PORTFOLIO</h1>
  </div>

  <div class="flex-cntainer">
    <hr class="hr pt-2">
    <div class="alignItems">
      <div class="column pt-2 imageFit"><img class="imgSize" src="assets/Images/1665663136484.jpg"></div>
      <div class="column headerText detailsRowArrange imageFit">
        <div clas="row">
          <div class="centerText"><span class="mainTilte pl-5">Rohith Sridhar</span></div>
          <div class="centerText"><span class="mainTilte">Full Stack Developer</span></div>
        </div>
        <div class="row mt-3 ">
          <p class="homeFont">
            Being Mechanical Engineer it is not easy to start coding, but for sure it's not an impossible task. I am
            at
            my
            earlier stage of my career
            and would like to build my future with advanced technologies and environments...
          </p>
          <p class="homeFont">
            I Never fail...!!!, either I succeed or gain experience... but never consider failures.
          </p>

          <p class="homeFont">
            Hobbies and interests are pretty less, will figure out when I don't have things to do...
          </p>

          <p class="homeFont">
            I hope, I've given honest introduction about myself... Currently my only focus is "How to boost myself
            with
            cutting-edge technologies and contribute in betterment of Nature..!!"
          </p>
        </div>
      </div>
    </div>
    <div style="height:50px;width: 100%;">
    </div>

    <div class="flex-container contact mainContact">
      CONTACT DETAILS
    </div>

    <hr class="hr">

    <div class="flex-container pb-2">
      <div matTooltip="email">
        <span class="detailsContact">Email:</span><a class="pl-5 aTag"
          href="mailto: rohiths8241@gmail.com">rohiths8241@gmail.com</a>
      </div>
      <div matTooltip="phone no">
        <span class="detailsContact">Phone No:</span><a class="pl-5 aTag">+91 9741035457</a>
      </div>
      <div class="iconList">
        <button class="btn p-0"><span class="mdi mdi-24px mdi-instagram iconSize px-2" (click)="openInsta()"
            matTooltip="Instagram"></span></button>
        <button class="btn p-0"> <span class="mdi mdi-24px mdi-twitter iconSize px-2" (click)="openTwitter()"
            matTooltip="Twitter"></span></button>
        <button class="btn p-0"> <span class="mdi mdi-24px mdi-linkedin iconSize px-2" (click)="openLinkedin()"
            matTooltip="Linkedin"></span></button>
        <button class="btn p-0"><span class="mdi mdi-24px mdi-facebook iconSize px-2" (click)="openFaceBook()"
            matTooltip="FaceBook"></span></button>
        <button class="btn p-0"><span class="mdi mdi-24px mdi-git iconSize px-2" (click)="openGit()"
            matTooltip="GitHub"></span></button></div>
    </div>
  </div>

</div>
